.button
  display: inline-block
  border: 0
  border-radius: 2px
  padding: 5px 10px
  cursor: pointer
  transition: transition
  text-align: center
  text-decoration: none
  font-size: 14px
  .icon
    margin-right: 5px
    margin-bottom: -2px
    display: inline-block
    width: 16px
    height: 16px

.button--large
  padding: 15px

.button--primary
  background: primary-color
  color: white
  .icon
    fill: white
  &:hover
    background: primary-dark
    color: white
  &.button--outline
    background: transparent
    border: 1px solid primary-color
    color: primary-color
    .icon
      fill: primary-color
    &:hover
      background: transparent
      border-color: primary-dark
      color: primary-dark

.button--secondary
  background: secondary-light
  color: white
  .icon
    fill: white
  &:hover
    background: secondary-color
    color: white
  &.button--next
    &:after
      border-left-color: secondary-light
    &:hover
      &:after
        border-left-color: secondary-color

