.tyChat
  width: 100%
  height: 100%
  margin-bottom: 20px

.chatBox
  width: 100%
  height: 100%
  margin: 0
  padding: 0
  list-style-type: none
  overflow: scroll
  
  .chatBox-item
    margin-bottom: 3px
    width: 100%
    cursor: pointer
    transition: transition
    float left
    color: grey-color
    position relative

    .chatBox-item-content
      color: black-color

    .chatBox-item-content.chatBox-item-content--notice
      color: grey-color

  .help-command
    color: blue-color

  .help-title
    color: violet-color

  .help-items
    padding-left: 10px