.tyChat
  margin-bottom: 20px

.chatBox
  height: 600px
  overflow: scroll
  
  .chatBox-item
    margin-bottom: 10px

    .chatBox-item-content
      color: black-color

    .chatBox-item-content.chatBox-item-content--notice
      color: grey-color

  .help-command
    color: blue-color

  .help-title
    color: violet-color

  .help-items
    padding-left: 10px