.sidebar
  height: 100%
  float: left

.sidebar-content
  position: relative
  padding: 0 10px
  width: sidebar-width-collapsed
  height: 100%
  background: white
  transition: transition
  box-shadow: 1px 0px 5px 0px rgba(192, 191, 191, 0.75)
  z-index: 1

.sidebar-header
  padding 14px 9px

.sidebar-body
  position: absolute
  left: 0
  top: 60px
  bottom: 60px
  right: 0
  overflow-y: hidden
  overflow-x hidden

.sidebar-footer
  position: absolute
  bottom: 0
  left: 0
  width: 100%
  border-top 1px solid rgb(86, 86, 86)
  background header-color


.sidebar-content.sidebar--open
  width: sidebar-width

input.ty-chat-input
  width: 96%