.sidebar
  position: fixed
  padding: 10px
  width: sidebar-width-collapsed
  min-height: 100%
  background: white
  transition: transition
  user-select: none
  box-shadow: 1px 0px 5px 0px rgba(192, 191, 191, 0.75)
  z-index: 1

.sidebar.sidebar--open
  width: sidebar-width