extends ./layout

block content 
  .wrapper(ui-view, ng-controller="MainCtrl")

    .sidebar(ng-controller="SidebarCtrl")
      ty-login-form(ng-if='!currentUser')
      ty-chat(ng-if='currentUser')
      a.button(ng-if='currentUser' ng-click='logout()') logout
