extends ./layout

block content 
  .wrapper(ui-view, ng-controller="MainCtrl")

    .sidebar(ng-controller="SidebarCtrl")
      ty-login-form(ng-show='!currentUser')
      a.button(ng-show='currentUser' ng-click='logout()') logout
