.tyChat
  .chatBox
    .grid(ng-repeat='message in messages' id="{{isLast($index) ? 'lastMessage' : ''}}")
      .grid__item.one-twelfth
        .label {{message.account.name}}
      .grid__item.one-half {{message.content}}
      .grid__item.one-eighth
        .label--small {{message.createdAt | date : 'short' }}

  input(type='text' ng-enter='newMessage()' ng-model='currentMessage')
