.tyChat
  .chatBox
    .grid.chatBox-item(ng-repeat='message in messages')
      .chatBox-item-content(ng-if='message.account')
        .grid__item.one-fifth
          .label.u-alignRight {{message.account.name}}
        .grid__item.one-half
          .small {{message.content}}
        .grid__item.one-quarter
          .label--small {{message.createdAt | date : 'short' }}
      .chatBox-item-content.chatBox-item-content--notice(ng-if="!message.account")
        .grid__item.one-fifth
        .grid__item.one-half
          .small(ng-bind-html="trustedHtml(message.content)")
        .grid__item.one-quarter
          .label--small {{message.createdAt | date : 'short' }}
  input(
    type='text'
    ng-enter='newMessage()'
    ng-model='currentMessage'
    placeholder='  (^._.^)ﾉ  ')
