.ty-login-form
  margin-left: 20px

.form-group
  margin-bottom: 20px

input
  &[type='text'], &[type='password'], &[type='email']
    border: 0
    width: 90%
    border-bottom: 1px solid rgba(136, 136, 136, 0.4)
    padding: 8px 10px
    font-size: 12px
    font-family: "roboto", sans-serif;
    font-weight: 100;
    background: transparent
    background-color: grey-light
    line-height: 1
    &:focus
      outline: 0
