body
  margin: 0
  padding: 0
  background: background-color
  font-family: "roboto", sans-serif;
  &.is-story
    overflow: hidden
    padding-right: 16px

.wrapper
  &.is--collapsed
    .showcase
      margin-left: sidebar-width-collapsed 
    .sidebar
      width: sidebar-width-collapsed
      .sidebar-details
        margin-left: -300px
      .sidebar-itemLabel
        opacity: 1

