h1, h2, h3, h4, h5, h6
  font-size: 16px
  margin: 0
  padding: 0
  font-weight: normal
  
.label
  font-size: 15px
  font-weight: 300
  color: grey-color

.label--small
  font-size: 10px
  font-weight: 300
  color: grey-color

.h-callout
  font-size: 28px
  color: secondary-light
  margin-bottom 20px

a
  color: primary-color
  cursor: pointer
  &:hover
    color: primary-dark
