.u-fullWidth
  width: 100%

.u-alignLeft
  text-align: left

.u-alignRight
  text-align: right

.u-alignCenter
  text-align: center

.u-pullRight
  float: right
  
.u-pageCenter
  position: fixed
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)

.u-spacer
  height: 10px