// variables
background-color = #FDF6E3
header-color = rgb(55, 58, 57)
grey-light = #EFEEE8
grey-color = #BFBFBF

primary-color = rgb(73, 166, 132)
primary-dark = #00a16c

secondary-light = #389BBB
secondary-color = #458A9A
secondary-dark = #073642

white-color = #fff
black-color = #000
transition = all 0.2s ease-in-out
bounce = cubic-bezier(0.5, -0.5, 0.5, 1.5)

sidebar-width = 450px
sidebar-width-collapsed = 5px
sidebar-footer-height = 141px
default-font-size = 16px
